@import "../../pokemon-type-colors.css";

.navigation {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navigation > button {
  padding: .3rem .5rem .3rem .3rem;
}

.card {
  margin: 1rem 0;
  background-color: var(--primary-grey);
  padding: 2rem;
  border-radius: 4rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.h2 {
  color: var(--secondary-black);
}

.pokeData .data {
  display: flex;
  flex-direction: column;
  gap: .5rem;

}

.name {
  margin-bottom: 1rem;
}

.periodicNumber {
  margin-left: 1rem;
  color: var(--subtitle-grey);
  font-style: italic;
}

.label {
  display: inline-block;
  width: 5rem;
}

.label,
.measure {
  opacity: .8;
}

.number {
  margin-right: .2rem;
  font-weight: 600;
}

.type {
  padding: .1rem .2rem;
  border-radius: .4rem;
  margin-right: .5rem;
  color: var(--primary-white);
  text-shadow: 1px 1px 2px #00000070;
}

.image_n_controls {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image {
  padding: 1rem;
  background: white;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: 300px;
  transition: all .1s ease-out;
}

.image:hover {
  border: 1px solid var(--border-grey);
}

.image:hover img {
  transition: all .1s ease-in;
  scale: 110%;
}

.controls {
  display: flex;
  gap: 1rem;
}

.controls button {
  width: 100%;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

@media (max-width: 1024px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 3rem;
  }

  .image {
    border-radius: 1.5rem;
  }

  .controls {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
  }

  .navigation > button {
    padding: .8rem
  }

  .image {
    border-radius: 1rem;
    padding: 0.5rem;
  }

  .controls {
    flex-direction: column;
    gap: 0.5rem;
  }
}
