.comparisonWrapper {
  margin: 1rem 0 2rem;
}

.comparison {
  background: var(--primary-grey);
  padding: 2rem;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}
