.comparisonWrapper {
  margin: 1rem 0 2rem;
}

.comparison {
  background: var(--primary-grey);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;
  border-radius: 3rem;
}

.comparison > .card > h1 {
  font-size: 4rem;
}

@media (max-width: 768px) {
  .comparison {
    padding: 1rem;
    gap: .5rem;
  }
}

@media (max-width: 480px) {
  .comparison {
    border-radius: 2rem;
  }
}
