.comparisonWrapper {
  margin: 1rem 0 2rem;
}

.comparison {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}


@media (max-width: 768px) {
  .comparison {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {

}

@media (max-width: 320px) {

}