.card {
  background-color: #ececec;
  padding: 2rem;
  border-radius: 3rem;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header_alternative {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  /*пока тут лежит обычный хедер*/
}

.image {
  width: 8rem;
  height: 8rem;
  background: white;
  overflow: hidden;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100%;
  height: auto;
  /*object-fit: cover;*/
}

.buttonWrapper {
  margin-top: 1rem;
  display: inline-flex;
  justify-content: center;
}

.name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.details {
  text-align: left;
}

.details_alternative {
  text-align: right;
}

.stats {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
