@import "src/colors.css";

.card {
  background-color: var(--primary-grey);
  padding: 2rem;
  border-radius: 3rem;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header_alternative {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}

.image {
  width: 8rem;
  height: 8rem;
  background: var(--primary-white);
  overflow: hidden;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100%;
  height: auto;
  /*object-fit: cover;*/
}

.buttonWrapper {
  margin-top: 1rem;
  display: inline-flex;
  justify-content: center;
}

.name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.periodicNumber {
  opacity: .7;
}

.details {
  text-align: left;
}

.details_alternative {
  text-align: right;
}

.type {
  padding: .1rem .2rem;
  border-radius: .4rem;
  margin-right: .5rem;
  color: var(--primary-white);
  text-shadow: 1px 1px 2px #00000070;
}

.stats {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 800px) {
  .card {
    padding: 1rem;
    border-radius: 2rem;
  }

  .image {
    width: 4rem;
    height: 4rem;
  }

  .header_alternative, .header {
    gap: 1rem;
  }

  .name {
    font-size: 1.5rem;
  }

  .details, .details_alternative {
    font-size: .8rem;
  }
}

@media (max-width: 425px) {
  .name {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .stats {
    margin-top: 1rem;
    gap: .5rem;
  }

  .buttonWrapper {
    margin-top: 0;
  }
}

@media (max-width: 320px) {
  .image {
    width: 2rem;
    height: 2rem;
  }
}