.card {
  margin-top: 1rem;
  padding: 4rem;
  border-radius: 4rem ;
  background-color: #ececec;
}

.card h2 {
  opacity: .7;
}

@media (max-width: 768px) {
  .card {
    padding: 2rem;
  }
}

@media (max-width: 425px) {
  .card {
    padding: 1rem;
  }
}