.headerOuter {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
  padding: 1rem 2rem 1rem 4rem;
  border-radius: 4rem ;
  background-color: #ececec;
}

.headerLogo {
  font-weight: 800;
  display: flex;
  gap: .4rem;
}

.subtitle {
  color: #4d4d4d;
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 2rem;
}