.listItem {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background-color: #fafafa;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;

}

.name {
  font-size: 1.4rem;
  font-weight: 800;
}

.index {
  font-size: 1.4rem;
  font-weight: 200;
  color: dimgray;
}

