.listItem {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background-color: #fafafa;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.listItem:hover {
  border-color: dimgray;
}

.desc {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.name {
  font-size: 1.4rem;
  font-weight: 800;
}

.index {
  font-size: 1.4rem;
  font-weight: 200;
  color: dimgray;
}

@media (max-width: 768px) {
  .listItem {
    border-radius: 2rem;
    padding: 1rem 1rem;
  }

  .desc {
    gap: .6rem;
  }

  .name {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .index {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .listItem {
    border-radius: 2rem;
    padding: 0.8rem;
  }

  .desc {
    gap: .3rem;
  }

  .name {
    font-size: 1rem;
  }

  .index {
    font-size: 1rem;
  }

  .buttons {
    gap: .5rem;
  }
}

