.statsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-white);
  border-radius: 1rem;
  border: 1px solid var(--border-grey);
}

.statsItem_default {
  padding: .5rem .7rem .5rem .5rem;
  flex-direction: row-reverse;
}

.statsItem_alternative {
  padding: .5rem .5rem .5rem .7rem;
  flex-direction: row;
}

.statsLabel {
  font-size: 1.2rem;
  color: var(--secondary-black);
}

.statsValue {
  font-size: 1.5rem;
  color: var(--secondary-black);
}

.color_green {
  color: var(--grass);
}

.color_red {
  color: var(--fire);
}

@media (max-width: 768px) {
  .statsLabel {
    font-size: .8rem;
  }

  .statsValue {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .statsItem {
    flex-direction: column;
  }

  .statsItem_default,
  .statsItem_alternative {
    padding: .4rem;
  }

  .statsLabel {
    font-size: .6rem;
  }

  .statsValue {
    font-size: .8rem;
  }
}

@media (max-width: 320px) {
  .statsValue {
    font-size: .8rem;
  }
}