.statsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-white);
  border-radius: 1rem;
  border: 1px solid var(--border-grey);
}



.statsItem_default {
  padding: .5rem .7rem .5rem .5rem;
  flex-direction: row-reverse;
}

.statsItem_alternative {
  padding: .5rem .5rem .5rem .7rem;
  flex-direction: row;
}

.statsLabel {
  color: var(--secondary-black);
}

.statsValue {
  color: black;
  font-size: 1.5rem;
}

.color_green {
  color: var(--grass);
}

.color_red {
  color: var(--fire);
}

@media (max-width: 768px) {
  .statsValue {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .statsItem_default,
  .statsItem_alternative {
    padding: .4rem;
  }

  .statsLabel,
  .statsValue {
    font-size: .9rem;
  }
}

@media (max-width: 320px) {
  .statsValue {
    font-size: .8rem;
  }
}