@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

:root {
  --primary-red: #ff2c11;
  --primary-black: #000;
  --secondary-black: rgba(0, 0, 0, 0.7);
  --dark-grey: #696969; /*dimgrey*/
  --subtitle-grey: #8f8f8f;
  --border-grey: #ccc;
  --primary-grey: #ececec;
  --primary-white: #fafafa;

  --filter-primary-red: invert(24%) sepia(32%) saturate(6795%) hue-rotate(353deg) brightness(103%) contrast(103%);
  --filter-dimgray: invert(42%) sepia(2%) saturate(0%) hue-rotate(27deg) brightness(93%) contrast(81%);

  /*pokemon type color*/
  --normal: #99a3af;
  --fire: #f82e34;
  --water: #4ea2ff;
  --electric: #ffb801;
  --grass: #00c752;
  --ice: #8fc4ff;
  --fighting: #e3010d;
  --poison: #c17bfe;
  --ground: #d08602;
  --flying: #7a87ff;
  --psychic: #fc62b8;
  --bug: #00a73e;
  --rock: #894b00;
  --ghost: #9a0ff9;
  --dragon: #5038fa;
  --dark: #364154;
  --steel: #6a7181;
  --fairy: #fda5d5;
}

* {
  font-family: "Sora", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1rem;
  }
}